nav {
    justify-content: center;
}

.custom-header-image {
  background-image: url(/Assets/shavonneHero.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 0 20% 0;
  position: relative;
}

.site-title {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.site-branding {
  text-align: center;
  color: whitesmoke;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(142,30,29,.5);
  text-transform: lowercase;
}

.view-sites {
  text-align: center;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vkp {
  display: block;
  text-align: center;
}

.lnl {
  display: block;
  text-align: center;
}

.sio {
  display: block;
  text-align: center;
}

#projects {
  display: block;
  margin: 20%, 0, 20%, 0;
}

#badge {
  width: 50%;
  height: 50%;
}

.card-body {
  text-align: center;
}

#contact {
  display:grid;
  color: white;
  background-color: #212529;
}

#fs-frm {
  padding: 5% 10% 5% 10%;
}

footer {
  position: center;
  text-align: center;
}

