nav {
    justify-content: center;
}

.masthead {
    background-image: url(./Assets/shavonneHero.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .5;
}

.masthead-title {
    color: #8e1e1d;
    text-align: center;
    padding-top: 325px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 64px;
}

.masthead-description {
    color: #8e1e1d;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
}